.container {
    display: flex;
    margin: 3.375rem 0;
    --col: 3;
}

@media (max-width: 1156px) {
    .container {
        --col: 2;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 1.5rem 0;
        --col: 1;
    }
}

.cardContainer {
    margin: 0 auto;
}

.cardWrapper {
    display: grid;
    grid-template-columns: repeat(var(--col), 360px);
    grid-gap: 2.375rem;
    justify-content: center;
    align-items: center;
}
