.navbarLogoImage {
    display: block;
    height: 100%;
}

.navbarLogoMobile {
    display: none;
}

@media screen and (max-width: 960px) {
    .navbarLogoImage {
        display: none;
    }

    .navbarLogoMobile {
        display: block;
    }
}
